header div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background: linear-gradient(to right, #3498db, #0A004B);
    color: white;
}

header h1 {
    padding-right: 200px;
}

.search-column {
    width: 300px;
    padding-left: 5px;
    
}

.search-bar {
    width: 300px;
    border-radius: 10px;
}

.search-button {
    width: 300px;
    padding-bottom: 3px;
    border: 0px, 0px, 2px, 0px, solid black;
    background: lightblue;
    border-radius: 10px;
    margin-bottom: 12px;
}

.search-button-container {
    margin-bottom: 12px;
    border-bottom: 2px solid black; 
    width: 300px;
}

.results {
    position: absolute;
    width: 1100px;
    left: 320px;
    top: 56px;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border: 2px, black;

}

.fiveday-forcast-header {
    position: absolute;
    width: 1100px;
    left: 320px;
    top: 316px;
    margin: 5px;
    padding: 5px;
}

.fiveday-forcast {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 1100px;
    left: 320px;
    top: 360px;
    margin: 5px;
    padding: 5px;
}

.section-tile {
    width: 1087px;
    border-style: solid;
    border: 30px, black;
    width:200px;
    height: 250px;
    background-color: 50497D;
    color: white;
    border-radius: 10px;
    
}

.button {
    width: 300px;
    padding: 3px;
    background: grey;
    border-radius: 10px;
    margin-bottom: 8px;
}

li {
    list-style: none;
    padding-bottom: 10px;
}

div ul {
    padding: 10px 30px 30px 30px;
}

#headerIcon {
    max-width: 70px;
    max-height: 70px;

}

.tile-Icons {
    max-width: 55px;
    max-height: 55px;
    position: relative;
    left: 70px;
}
